<h1 class="center"><span class="teal-text">Welcome to </span>{{ title }}</h1>

<!-- Section: Popular places -->
<section id="popular" class="section section-popular scrollspy">
  <div class="container">
    <div class="row">
      <!-- First place -->
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img
              src="https://source.unsplash.com/1600x900/?authors"
              alt=""
              class="materialboxed responsive-img"
            />
            <span class="card-title">Paris, France</span>
          </div>
          <div class="card-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
            aliquam similique inventore at quidem autem.
          </div>
        </div>
      </div>
      <!-- Second place -->
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img
              src="https://source.unsplash.com/1600x900/?biography"
              alt=""
              class="materialboxed responsive-img"
            />
            <span class="card-title">London, United Kingdom</span>
          </div>
          <div class="card-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
            aliquam similique inventore at quidem autem.
          </div>
        </div>
      </div>
      <!-- Third place -->
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img
              src="https://source.unsplash.com/1600x900/?books"
              alt=""
              class="materialboxed responsive-img"
            />
            <span class="card-title">Stockholm, Sweden</span>
          </div>
          <div class="card-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
            aliquam similique inventore at quidem autem.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
